/*Color Of The Background*/
body {
  padding: 0;
  margin: 0;
  background: #F7F7F7;

  background: -moz-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);

  background: -webkit-linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);

  background: linear-gradient(45deg, #F7F7F7 0%, #EAE0D5 100%);
}

/*Header Image of The Brocoli*/
.header {
  background-image: url(https://res.cloudinary.com/teepublic/image/private/s--zsWAPcOH--/t_Preview/b_rgb:ffffff,c_limit,f_jpg,h_630,q_90,w_630/v1534185872/production/designs/3015979_0.jpg);
  height: 400px;
  background-position: left;
}
/*Format for Navigation*/
.brocnroll {
  margin: 40px auto;
  padding: 20px 30px 40px 30px;
  background-color: #FFFFFFFFF;
  overflow: auto;
  width: 75%;
  border-radius: 4px;
  align-self: left;
}

/*Paragraph for titleh*/
.brocnroll p {
  color: #938E89;
  text-align: left;
  line-height: 24px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
}
/*div for background*/
.background div {
  font: inherit;
  padding: 0 20px;
  color: #FFFFFF;
  overflow: auto;
  opacity: 0.9;
}
/*Paragraph for background*/
.background p {
  color: #FFFFFF;
  text-align: left;
}

/*background color for about nav bar*/
.about {
  background-color: DarkSeaGreen;
}
/*background color for food nav bar*/
.food {
  background-color: Sienna;
}
/*background color for drink nav bar*/
.drink {
  background-color: SaddleBrown;
}
/*background color for contact nav bar*/
.contact {
  background-color: Brown;
}


/*Format for all h1*/
h1 {
  color: #41292C;
  font-family: 'Raleway', sans-serif;
  font-size: 25px;
  line-height: 76px;
  margin: 0;
  position: relative;
  text-align: left;
  top: 20%;
}
/*Format for all h2*/
h2 {
  color: #E4BB97;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
}
/*Format for all h3*/
h3 {
  color: #082;
  font-family: 'Raleway', sans-serif;
  font-size: 75px;
  font-weight: 500;
  text-align: center;
}
/*Format for all h4*/
h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: .2em;
}
/*Format for all h5*/
h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  line-height: .2em;
  font-weight: 300;
}

/*Format for all unordered list*/
ul {
  margin: 0 auto;
  padding: 0;
  width: 75%;
}
/*Format for all lists */
li {
  border-bottom: 1px solid #E4BB97;
  list-style: none;
  margin: 100px 0px;
  padding-bottom: 60px;
}
/*Format for paragraph*/
p {
  color: #444444;
  line-height: 32px;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 100;
}
/*Format for all id's*/
a {
  color: #214E34;
  font-family: 'Raleway', sans-serif;
  font-size: 13px;
  font-weight: 900;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
}

footer{
  color: #D3D3D3
}
/*Format for all slideshow*/
.fling-minislide {width:650px; height:650px; overflow:hidden; position: relative; margin: 0 auto;}
.fling-minislide img{ position:absolute; width:600px; height: 700px; top:0px; bottom:100px;left:0px; right:1000px; animation:fling-minislide 20s infinite; opacity:0; width: 100%; height:auto;}

/*Time for slideshow*/
@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}
